@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply scroll-smooth m-0 bg-primary-100;
  font-family: "Roboto", sans-serif;
}

.bg-primary-gradient {
  background: linear-gradient(180deg, #fbfaec, #f3eadf 18.75%, #e3d9cf);
}

.slide-bottom-top-enter-active {
  transition: all 0.3s ease-out;
}
.slide-bottom-top-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-bottom-top-enter-from,
.slide-bottom-top-leave-to {
  transform: translateY(100%);
  /* opacity: 0; */
}
.slide-top-bottom-enter-active {
  transition: all 0.3s ease-out;
}
.slide-top-bottom-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-top-bottom-enter-from,
.slide-top-bottom-leave-to {
  transform: translateY(-100%);
  /* opacity: 0; */
}

.slide-nav-enter-active {
  transition: all 0.3s ease-out;
}
.slide-nav-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-nav-enter-from {
  transform: translateY(-100%);
}
.slide-nav-leave-to {
  transform: translateY(100%);
  /* opacity: 0; */
}

.slide-left-right-active {
  transition: all 0.5s ease-out;
}
.slide-left-right-leave-active {
  transition: all 0.5s ease-in;
}
.slide-left-right-enter-from {
  transform: translateX(-100%);
}
.slide-left-right-leave-to {
  transform: translateX(100%);
  /* opacity: 0; */
}
